.rodape {
  padding-block: 9rem;
  background-color: $titulos-cores;

  .conteudo-rodape {
    .logo {
      margin-bottom: 3rem;
    }

    .bloco-listas {
      @include flex-center(flex-start, 3rem);
      justify-content: space-between;
      .lista {
        ul {
          @include flex-center(flex-start, 2rem);
          flex-flow: column;

          li {
            &:hover {
              a {
                color: $bg-color-btn;
              }
            }
          }
          a {
            transition: color 0.3s ease;
            color: #ffff;
          }
        }

        &:first-child {
          li {
            @include flex-center(center, 2rem);
          }
        }

        &:last-child {
          ul {
            flex-flow: row;

            .fa-facebook-f,
            .fa-twitter,
            .fa-instagram {
              color: #ffff;
              padding: 1rem;
              cursor: pointer;
              transition: color 0.3s ease;

              &:hover {
                color: $bg-color-btn;
              }
            }
          }
        }
      }
    }
  }

  @include responsivo("tablet") {
    .conteudo-rodape {
      .bloco-listas {
        flex-flow: column;

        .lista {
          &:last-child {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
