$bg-color-acesso: hsl(238, 22%, 44%);
$bg-color-rodape:hsl(243, 87%, 12%);
$bg-color-btn:  hsl(224, 93%, 58%);
$bg-color-produto:rgb(191, 191, 191);

//texto cores
$titulos-cores:hsl(243, 87%, 12%);
$texto-cor: hsl(243, 87%, 12%);
$color-link:hsl(170, 45%, 43%);


$fonte-secundaria: "Raleway", sans-serif;
$fonte-primaria: "Open Sans", sans-serif;

